<div class="about-container">
    <h1 class="logo">Puzzles</h1>
    <h3 class="description">Puzzles is a platform where users can come together to discuss specific subjects or topics that they are interested in. These websites typically feature a wide range of categories and subcategories that cover a variety of subjects, such as sports, politics, entertainment, technology, and more.</h3>

</div>