<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="/scripts/navbar.js"></script>
<script src="/scripts/home.js"></script>
<script src="/scripts/topic.js"></script>
<script src="/scripts/profile.js"></script>
<script src="/scripts/createPost.js"></script>
<script src="/scripts/post.js"></script>
<script src="/scripts/createTopic.js"></script>

</body>
<footer>
    
</footer>
</html>