<div class="interest-container">
  <h3>Topics</h3>
  <div class="search">
    <input
      type="text"
      class="searchText"
      placeholder="e.g. r/sports r/gaming etc"
    />
    <button type="submit" class="icon-button">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
  <div class="topics-container">
    <% for(let i = 0; i < topics.length ; i++) { %>
    <button class="topic-button">
      <div class="home-topic-photo">
        <img src = "<%= topics[i].topicPhoto %>" alt = "" >
      </div>
      <a href="/topic/<%= topics[i].topicName %>"><%= topics[i].topicName %></a>
    </button>
    <% } %>
  </div>
</div>
