<%- include("partials/header.ejs") -%>
  <link rel="stylesheet" href="/css/createTopic.css">
  <%- include("partials/navbar"); -%>
    <div class="container">
      <div class="topic-form">
        <form action="/topic/createTopic" method="post">
          <div class="form-content">
            <label for="topicName">Topic Name</label>
            <input type="text" name="topicName" id="topicName">
            <label for="topicDescription">Topic Description</label>
            <input type="text" name="topicDescription" id="topicDescription">
            <div class="upload-container">
            <label for="banner-image">Banner Image  <i class="fa-solid fa-file-arrow-up"></i></label>
            <input type="file" accept=".jpg" name="banner-image" class="upload-input" id="banner-image">
            </div>
            <div class="upload-container">
            <label for="topic-image">Topic Image  <i class="fa-solid fa-file-arrow-up"></i></label>
            <input type="file" accept=".jpg" class="upload-input" name="topic-image" id="topic-image">
          </div>
            <input type="submit" value="Create Topic">
          </div>
        </form>
      </div>
      <div class="preview">
        <div class="banner-container"><img src="" alt="/images/defaultBanner.jpg" id="preview-banner"></div>
        <div class="topic-title">
          <div class="topic-photo"><img id="preview-profile" src=""></div>
          <div class="title-cont"><span>
              Topic Name
            </span>
            <button class="button">Join</button>
          </div>
        </div>
        <div class="preview-content">

          <div class="ex-container">
            <div class="example"></div>
            <div class="example"></div>
            <div class="example"></div>
            <div class="example"></div>
          </div>
          <div class="example2"></div>
        </div>
      </div>
    </div>
    </div>
    <%- include("partials/footer.ejs") -%>
      </body>

      </html>